<div class="container">
  {{ if .Facts }} {{range .Facts}}
  <a href="/fact/{{ .ID }}">
    <div class="fact-item">
      <div class="question-wrapper">
        <p class="question">{{ .Question }}</p>
        <div class="actions">{{template "icon-arrow-right" .}}</div>
      </div>
      <div class="answer-wrapper">
        <p class="answer">{{ .Answer }}</p>
      </div>
    </div>
  </a>
  {{end}} {{ else }}
  <div class="no-facts">
    <p>No Facts</p>
    <p><a href="/fact">Add New Fact</a></p>
  </div>
  {{ end }}
</div>

<!-- <button class="answer-toggle">Toggle Answer</button> -->
